@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 263 27% 94%;
    --foreground: 272 20% 15%;
    --card: 263 27% 99%;
    --card-foreground: 272 20% 15%;
    --popover: 263 27% 99%;
    --popover-foreground: 272 20% 15%;
    --primary: 272 63% 47%;
    --primary-foreground: 263 27% 98%;
    --secondary: 263 27% 90%;
    --secondary-foreground: 272 20% 25%;
    --muted: 263 27% 90%;
    --muted-foreground: 272 10% 45%;
    --accent: 234 89% 67%;
    --accent-foreground: 234 89% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 263 20% 85%;
    --input: 263 20% 88%;
    --ring: 272 63% 47%;
    --chart-1: 272 63% 47%;
    --chart-2: 234 89% 67%;
    --chart-3: 263 27% 90%;
    --chart-4: 272 20% 15%;
    --chart-5: 272 10% 45%;
    --radius: 0.5rem;
    --sidebar-background: 263 27% 99%;
    --sidebar-foreground: 272 20% 25%;
    --sidebar-primary: 272 63% 47%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 263 27% 92%;
    --sidebar-accent-foreground: 272 63% 47%;
    --sidebar-border: 263 20% 88%;
    --sidebar-ring: 272 63% 47%;
  }
  .dark {
    --background: 272 20% 10%;
    --foreground: 263 27% 94%;
    --card: 272 20% 13%;
    --card-foreground: 263 27% 94%;
    --popover: 272 20% 13%;
    --popover-foreground: 263 27% 94%;
    --primary: 272 63% 57%;
    --primary-foreground: 272 20% 10%;
    --secondary: 272 20% 20%;
    --secondary-foreground: 263 27% 98%;
    --muted: 272 20% 20%;
    --muted-foreground: 263 27% 70%;
    --accent: 234 89% 67%;
    --accent-foreground: 234 89% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 272 20% 20%;
    --input: 272 20% 20%;
    --ring: 272 63% 57%;
    --chart-1: 272 63% 57%;
    --chart-2: 234 89% 67%;
    --chart-3: 272 20% 20%;
    --chart-4: 263 27% 94%;
    --chart-5: 263 27% 70%;
    --sidebar-background: 272 20% 13%;
    --sidebar-foreground: 263 27% 94%;
    --sidebar-primary: 272 63% 57%;
    --sidebar-primary-foreground: 272 20% 10%;
    --sidebar-accent: 272 20% 18%;
    --sidebar-accent-foreground: 272 63% 57%;
    --sidebar-border: 272 20% 20%;
    --sidebar-ring: 272 63% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
